{% extends '::base.html.twig' %}

{% block stylesheets %}
<style>
	.container1 {
		padding: 10px;
	}
	.title {
		margin: 0 auto;
	}
	.title img {
		width: 100px;
	}
	.welcome {
		margin-top: 150px;
	}
</style>
{% endblock %}

{% block body -%}
<div class="welcome text-center">
	<h2 class="title"><img src="{{ asset('images/logo.png') }}" alt=""><br>Lunch System</h2>
	<br>
	<ul class="list-inline list-unstyled">
		<li><a href="/parent">Parent Order Form</a></li> - 
		<li>System Setup</li> - 
		<li><a href="/checkin">Lunch Check-in</a></li>
	</ul>

	<h3>Setup</h3>
	<ul class="list-inline list-unstyled">
		<li><a href="/setup/menu">Menu</a></li>
		<li><a href="/setup/calendar">Calendar</a></li>
	</ul>
</div>
{% endblock %}